title = "Flip Investimentos, que tal investir com a melhor acessoria do Brasil"
url = "/"
layout = "default"
description = "Flip Investimentos, que tal investir com uma assessoria personalizada e aumentar seus ganhos:"
canonical_url = "https://flipinvestimentos.com.br/"

[banners]
bannerLocation = 2
==

<section>
<div class="swiper-container slider-home">
    <div class="swiper-wrapper">
        {% for banner in banners.banners %}
        <div class="swiper-slide">
            <a {% if banner.url %}href="#"{% if banner.open_new_tab %}target="_blanck"{% endif %}{% endif %}>
                <div class="bg bg-shadow bg-shadow-inverse banner" 
                    style="background-image: url({{ banner.banner_desktop.getPath() }})">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
</div>    
</section>
<section class="home-companys bg-black">
<a class="px-20 btn-opacity" href="#" target="_blank">
    <img width="120"class="lozad" data-src="{{ 'assets/images/logos/apimec.svg'|theme }}" alt="logo-apimec">
</a>
<a class="px-20 btn-opacity"href="#" target="_blank">
    <img width="160" class="lozad" data-src="{{ 'assets/images/logos/b3.svg'|theme }}" alt="logo-b3">
</a>
<a class="px-20 btn-opacity" href="#" target="_blank">
    <img width="160" class="lozad" data-src="{{ 'assets/images/logos/febraban.svg'|theme }}" alt="logo-febraban">
</a>
</section>
<section class="section-home bg-white">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h2 class="title title-lg title-border-bottom color-black mb-30 pb-30">
                {% set title = "para sua liberdade financeira."|contenttext('SITE | Home', true, "Título da primeira sessão") %}
                {% set title = title|split(' ') %}
                {{ title[0] }}
                <span class="color-yellow-200">{{ title[1] }}</span>

                {% for i in 2..title|length - 1 %}
                    {{ title[i] }}
                {% endfor %}

            </h2>
            <p class="text text-lg">
                {{ "Nossa equipe possui"|contenttext('SITE | Home', true, "Descrição da primeira sessão") }}
            </p>
        </div>
    </div>
</div>
</section>
<section class="section-home bg-black">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h2 class="title title-lg title-border-bottom color-white mb-30 pb-30">
            {{ "Diferencias"|contenttext('SITE | Home', true, "Título da segunda sessão") }}
            </h2>
            <p class="text text-lg color-white">
                {{ "Como consultoria independente, trabalhamos para melhor atendimento e rentabilidade de seus investimentos sem qualquer viés com alguma instituição financeira."|contenttext('SITE | Home', true, "Descrição da segunda sessão - 1") }}
            </p>
            <p class="text text-lg color-white">{{ "Acompanhamento, direcionamento e suporte  para suas dúvidas."|contenttext('SITE | Home', true, "Descrição da segunda sessão - 2") }}</p>
            <p class="text text-lg color-white">{{ "Conhecimento e expertise prática."|contenttext('SITE | Home', true, "Descrição da segunda sessão - 3") }}</p>
        </div>
    </div>
</div>
</section>
<section class="section-home bg-gray-200">
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12">
            <h2 class="title title-lg title-border-bottom color-black mb-30 pb-30">
                {{ "Consultoria financeira"|contenttext('SITE | Home', true, "Título da terciera sessão") }}
            </h2>
            <p class="text text-lg color-black">
                {{ "Ajudamos você com seu planejamento financeiro, mostrando as soluções que vão fazer a diferença no seu futuro e auxiliando na aplicação na prática. Além disso, vamos te educar financeiramente mostrando o porque aqueles investimentos se encaixam em seus objetivos e por que certas decisões serão tomadas."|contenttext('SITE | Home', true, "Descrição da terceira sessão") }}
                </p>
        </div>
    </div>
    
</div>
</section>
<section class="section-home bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <h2 class="title title-lg title-border-bottom color-black mb-30 pb-30">
                    {{ "Treinamento"|contenttext('SITE | Home', true, "Título da quarta sessão") }}
                </h2>
                <p class="text text-lg color-black">
                    {{ "Oferecemos treinamento e desenvolvimento de pessoas dentro das empresas, mostrando como os colaboradores podem se programar financeiramente com seus salários, diminuindo o stress e aumentando a produtividade. Quer saber como funciona? Entre em contato com a nossa equipe."|contenttext('SITE | Home', true, "Descrição da quarta sessão") }}
                </p>
            </div>
        </div>
    </div>
</section>

