==
<footer>
    <div class="footer">
        <div class="container">
            <div class="d-flex flex-lg-row flex-column justify-content-between">   
                <ul class="list-unstyled mb-0">
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="{{ 'sobre'|page }}">{{ "Sobre"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Sobre") }}</a>
                    </li>
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="{{ 'planos'|page }}">{{ "Planos"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Planos") }}</a>
                    </li>
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="{{ 'calculadora'|page }}">{{ "Calculadora"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Calculadora") }}</a>
                    </li>
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="{{ 'blog'|page }}">{{ "Blog"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Blog") }}</a>
                    </li>
                </ul>   
                <ul class="list-unstyled mb-0 mt-lg-0 mt-48 text-lg-left text-center">
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="https://www.facebook.com/FlipInvestimentos/">Facebook</a>
                    </li>
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="https://www.instagram.com/flipinvestimentos/">Instagran</a>
                    </li>
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="https://www.linkedin.com/company/flip-investimentos/">Linkedin</a>
                    </li>
                </ul>
                <ul class="list-unstyled mb-0 mt-lg-0 mt-48 text-lg-left text-center">
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="#">
                            <img width="20" class="lozad mr-5" data-src="../assets/images/icons/email.svg" alt="icon-email">
                            <span>contato@flipinvestimentos.com.br</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-lg-start justify-content-center" href="#">
                            <img width="20" class="lozad mr-5" data-src="../assets/images/icons/telephone.svg" alt="icon-telephone"> 
                            <span>31 9 9263-2664</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-black text-center py-15">
        <div class="container">
            <p class="mb-0">Flip Investimentos - Copyright © 2019 . All Rights Reserved. CNPJ 33.898.234/0001-57</p>
        </div>
    </div>
</footer>