==
<!-- Meta tags -->
<meta content="origin">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="{{description}}">
<meta http-equiv="Content-Language" content="pt-br">
<meta name="theme-color" content="#FF0016">

<!-- Title -->
<title>{{ this.page.title }}</title>

<!-- Favicon -->
<link rel="icon" type="image/svg" href="{{ 'assets/img/logos/favicon.png'|theme }}">

<!-- Link Canonical -->
<link rel="canonical" href="{{ this.page.canonical_url }}"/>

<!-- Fonts -->
<link rel="preload" crossorigin="anonymous" href="{{ 'assets/fonts/roboto-light.woff2'|theme }}" as="font">
<link rel="preload" crossorigin="anonymous" href="{{ 'assets/fonts/roboto-regular.woff2'|theme }}" as="font">
<link rel="preload" crossorigin="anonymous" href="{{ 'assets/fonts/roboto-bold.woff2'|theme }}" as="font">
<link rel="preload" crossorigin="anonymous" href="{{ 'assets/fonts/robotoslab-regular.woff2'|theme }}" as="font">
<link rel="preload" crossorigin="anonymous" href="{{ 'assets/fonts/robotoslab-bold.woff2'|theme }}" as="font">

<link media="all" rel="stylesheet" href="{{ 'assets/css/styles.min.css'|theme }}">

<script sync defer src="{{ 'assets/js/bundle.min.js'|theme }}"></script>
