
==
<header class="header">
    <nav class="header-navbar">
        <div class="header-item d-lg-none">
            <a href="#sidenav" data-toggle="modal" aria-label="sidenav">
                <img class="lozad" width="18" data-src="{{ 'assets/images/icons/menu.svg'|theme }}" alt="menu">
            </a>
        </div>
        <div class="header-item d-lg-inline-block d-none">
            <a href="{{ ''|page }}">
                <img width="103" class="lozad" data-src="{{ 'assets/images/logos/logo.png'|theme }}">
            </a>
        </div>
        <ul class="header-item list-unstyled mb-0 d-flex">
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="{{ ''|page }}">{{ "Home"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Home") }}</a>
            </li>
            <li>    
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="{{ 'planos'|page }}">{{ "Planos"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Planos") }}</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="{{ 'calculadora'|page }}">{{ "Calculadora"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Calculadora") }}</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="{{ 'blog'|page }}">{{ "Blog"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Blog") }}</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow d-lg-inline-block d-none" href="{{ 'sobre'|page }}">{{ "Sobre"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Sobre") }}</a>
            </li>
            <li>
                <a class="btn btn-lg btn-txt-yellow" href="{{ 'login'|page }}">{{ "Login"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Sobre") }}</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-btn btn btn-lg btn-txt-yellow" href="#">{{ "Meu Acessp"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Meu Acesso") }}</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-link" href="{{ 'videos'|page }}">{{ "Videos"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Meud Videos") }}</a>
                    <a class="dropdown-link" href="{{ 'podcast'|page }}">{{ "PodCast"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu PodCast") }}</a>
                    <a class="dropdown-link" href="{{ 'minha-carteira'|page }}">{{ "Minha Carteira"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Minha Carteira") }}</a>
                    <a class="dropdown-link" href="{{ 'carteiras-recomendadas'|page }}">{{ "Carteiras Recomendadas"|contenttext('SITE | Menu - Header e Footer', true, "Texto do item de menu Meu Carteiras Recomendadas") }}</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

